<!-- uses basic-nav-bar -->
{% set loggedIn = False %}
{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Admin Login {% endblock %}

{% block navbars %} {{ super() }} {% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <div class="container">

      <!-- Display error if one exists -->
      {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
      {% endif %}

    <form class="form-signin" method="POST">
      <h2 class="form-signin-heading">Admin Login (Step 2)</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.password) }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    
  </div>
{% endblock %}