{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Create Reservation {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('views.home')}}">Mud in Your Eye</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">View Bill</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{url_for('views.log_out')}}">Log Out</a></li>
              </ul>
          <li class="nav-item">
            <a class="nav-link" href="#">Upcoming Reservations</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Make Reservations
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('views.book_services')}}">Book Services</a></li>
              <li><a class="dropdown-item" href="{{ url_for('views.make_reservation') }}">Book Hotel Rooms</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('views.services')}}">View Available Services</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{url_for('views.information')}}">Information</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br> <!--Line break to space nav bar and page content, Delete if necessary-->

<div class="container">

	{% if error %}
		<p class="error"><strong>Error: </strong> {{ error }} </p>
	{% endif %}

	<form class="form-customer-info" method="POST">
        {{ form.hidden_tag() }}
        <h2>Room Info</h2>
        {{ wtf.form_field(form.room_type) }}
        {{ wtf.form_field(form.smoking) }}
        <br><br>
        <h2>Customer Info</h2>
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.payment_type) }}
        {{ wtf.form_field(form.payment_info) }}
        <br><br>
        <h2>Stay Info</h2>
        {{ wtf.form_field(form.start_date) }}
        {{ wtf.form_field(form.end_date) }}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Make Reservation</button>
    </form>
	
</div>

{% endblock %}