{% extends "base.html" %}

{% block title %} Information {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('views.home')}}">Mud in Your Eye</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">View Bill</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{url_for('views.log_out')}}">Log Out</a></li>
              </ul>
          <li class="nav-item">
            <a class="nav-link" href="#">Upcoming Reservations</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Make Reservations
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('views.book_services')}}">Book Services</a></li>
              <li><a class="dropdown-item" href="#">Book Hotel Rooms</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('views.services')}}">View Available Services</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{url_for('views.information')}}">Information</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br> <!--Line break to space nav bar and page content, Delete if necessary-->
<div  style="margin-left:1em">
  <h3>Information</h3><hr><br>
    <h5>Q: Can I schedule services for my next visit?</h5>
    Services may only be scheduled during your current stay - no reserevations
    for future stays are allowed. <br><br>
    <h5>Q: When will I be charged for my services?</h5>
    You will be charged for each service you reserve at
    the time of reservations. Payment of charges occurs at checkout.<br><br>
    <h5>Q: Can I do a walk-in appointment?</h5>
    Reservations are necessary for all services.<br><br>
    <h5>Q: Can I book multiple appointments for the same time and cancel one later?</h5>
    You cannot reserve overlapping services, although consecutive services are allowed.<br><br>
    <h5>Q: What times can I schedule appointments for?</h5>
    All appointments will begin no earlier than 8 am and end no later than 8 pm.<br><br>
    <h5>Q: What if I want to cancel a reservation?</h5>
    You may cancel a reservation for a service at no charge if you do so within
    10 minutes of making the reservation or at least 90 minutes before the reservation time.
    Otherwise, you will be charged for the service.<br><br>
</div>
  {% endblock %}