<!-- Page is accessible to both logged in or logged out users
  Nav bar must be dynamically displayed -->
{% if is_logged_in %}
  {% set loggedIn = True %}
{% else %}
  {% set loggedIn = False %}
{% endif %}

{% extends "base.html" %}

{% block title %} Information {% endblock %}

{% block navbars %} {{ super() }} {% endblock %}

{% block content %}
<div  style="margin-left:1em">
  <h3>Information</h3><hr><br>
    <h5>Q: Can I schedule services for my next visit?</h5>
    Services may only be scheduled during your current stay - no reserevations
    for future stays are allowed. <br><br>
    <h5>Q: When will I be charged for my services?</h5>
    You will be charged for each service you reserve at
    the time of reservations. Payment of charges occurs at checkout.<br><br>
    <h5>Q: Can I do a walk-in appointment?</h5>
    Reservations are necessary for all services.<br><br>
    <h5>Q: Can I book multiple appointments for the same time and cancel one later?</h5>
    You cannot reserve overlapping services, although consecutive services are allowed.<br><br>
    <h5>Q: What times can I schedule appointments for?</h5>
    All appointments will begin no earlier than 8 am and end no later than 8 pm.<br><br>
    <h5>Q: What if I want to cancel a reservation?</h5>
    You may cancel a reservation for a service at no charge if you do so within
    10 minutes of making the reservation or at least 90 minutes before the reservation time.
    Otherwise, you will be charged for the service.<br><br>
</div>
  {% endblock %}