<!-- uses user-nav-bar -->
{% set loggedIn = True %}
{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Create Reservation {% endblock %}

{% block navbars %} {{ super() }} {% endblock %}

{% block content %}
<div class="container">

	{% if error %}
		<p class="error"><strong>Error: </strong> {{ error }} </p>
	{% endif %}

	<form class="form-dates" method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.start_date) }}
        {{ wtf.form_field(form.end_date) }}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Check Dates</button>
    </form>
	
</div>
{% endblock %}