<!-- Page is accessible to both logged in or logged out users
  Nav bar must be dynamically displayed via calling route in views.py -->
{% if is_logged_in %}
  {% set loggedIn = True %}
{% else %}
  {% set loggedIn = False %}
{% endif %}

{% extends "base.html" %}

{% block title %} Specialty Services {% endblock %}

{% block navbars %} {{ super() }} {% endblock %}

{% block content %}
<div  style="margin-left:1em">
  <h3>Services</h3><hr><br>

  <h5>Bath Services </h5>
  60 or 90 minute mineral bath - $2.50/minute<br><br>

  <h5>Massage Services </h5>
  60 or 90 minute Swedish massage - $2.00/minute<br>
  60 or 90 minute shiatsu massage - $2.00/minute<br>
  60 or 90 minute deep tissue massage - $2.00/minute<br><br>

  <h5>Specialty Treatment Services </h5>
  60 or 90 minute hot stone treatment - $3.50/minute<br>
  60 or 90 minute sugar scrub treatment - $3.50/minute<br>
  60 or 90 minute herbal body wrap treatment - $3.50/minute<br>
  60 or 90 minute botanical mud wrap treatment - $3.50/minute
</div>
  {% endblock %}