<!-- This is our sign-up page for collecting user info, app.py handles sending it to database -->
{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<div class="container" id="sign_up">
    <h4>Get Started Below</h4>

    {% if error_statement %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{error_statement}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    <form method="POST">
        <p>
            <input id="first" name="firstname" type="text" placeholder="First Name" value={{f_name}}>
        </p>
        <p>
            <input id="last" name="lastname" type="text" placeholder="Last Name" value="{{l_name}}">
        </p>
        <p>
            <input id="username" name="username" type="text" placeholder="Username" value="{{username}}">
        </p>
        <p>
            <input id="password1" name="password1" type="password" placeholder="Password">
        </p>
        <p>
            <input id="password2" name="password2" type="password" placeholder="Confirm Password">
        </p>
        <button type="submit" class = "btn btn-secondary">Sign me up!</button>
    </form>
</div>
{% endblock %}