<!-- This is our sign-up page for collecting user info, app.py handles sending it to database -->
{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
    <form method="POST">
        <p>
            <label for="first">First Name</label>
            <input id="first" name="firstname" type="text">
        </p>
        <p>
            <label for="last">Last Name</label>
            <input id="last" name="lastname" type="text">
        </p>
        <p>
            <label for="username">Username</label>
            <input id="username" name="username" type="text">
        </p>
        <p>
            <label for="password1">Password</label>
            <input id="password1" name="password1" type="text">
        </p>
        <p>
            <label for="password2">Confirm Password</label>
            <input id="password2" name="password2" type="text">
        </p>
        <input type="submit" value="Sign Me Up">
    </form>
{% endblock %}